
lecture-1-project-master/lecture-1-project-master/.idea/codeStyles/Project.xml
lecture-1-project-master/lecture-1-project-master/.idea/dbnavigator.xml
lecture-1-project-master/lecture-1-project-master/.idea/lecture-1-project-master.iml
lecture-1-project-master/lecture-1-project-master/.idea/misc.xml
lecture-1-project-master/lecture-1-project-master/.idea/modules.xml
*.xml
